@model WebSiteBanHang.Models.NhaCungCap

@{
    ViewBag.Title = "Cập nhật nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/Layout-admin.cshtml";
}

<div class="row" style="margin-left:200px; margin-right:200px">
    <div class="col-md-12">
        <h2 style="color: #438EB9">Cập Nhật Loại Sản Phẩm</h2>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDNhaCungCap)

                <div class="form-group">
                    <label class="control-label col-md-2">Tên nhà cung cấp</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenNhaCungCap, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenNhaCungCap, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Địa chỉ</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Số điện thoại</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Gmail</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Gmail, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Gmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Website</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Mã bưu điện</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MaBuuDien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaBuuDien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Thành phố</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ThanhPho, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ThanhPho, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Quốc gia</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.QuocGia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.QuocGia, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Update" class="btn btn-info" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-12">
        <div style="width: 180px; height: 30px; background-color: #6FB3E0; text-align: center; padding-top: 3px">
            <a href="/Admin/LoaiSanPham/DanhSach" style="text-decoration:none; color:white; font-size:15px"> Quay Lại Trang Danh Sách</a>
        </div>
    </div>
</div>




